[Unit]
Description=Backup Game Filesaves with Ludusavi
After=network.target

[Service]
Type=simple
ExecStart=~/.local/bin/backupGamesaves

[Install]
WantedBy=default.target
