[Unit]
Description=Download Media
After=network.target

[Service]
Type=simple
ExecStart=~/.local/bin/downloadMedia

[Install]
WantedBy=default.target
